// typography and all that good stuff
@import 'variables';

.button {
  display: flex;
  justify-content: center;
  border-radius: $border-radius;
  padding: 5px 19px;
  cursor: pointer;
  outline: none;
  color: $white;
  font-weight: $font-weight-bold;

  &:disabled {
    cursor: not-allowed;
  }

  &.button-fill-blue {
    background-color: $deep-blue;
    border: none;
    // &:hover {
    //   background-color: $light-blue;
    // }
  }

  &.button-fill-red {
    border: none;
    background-color: $red;
    color: $white;
    &:hover {
      background-color: $light-blue;
    }
  }

  &.button-outline {
    background-color: $light-blue;
    border: 1px solid $deep-blue;
    &:hover {
      background-color: $light-blue;
    }
  }
}
