// reset styles

@import 'variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background: $backdrop-orange;
  }
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}
