// colors
$deep-blue: rgba(0, 106, 255, 1);
$light-blue: rgba(220, 234, 255, 1);
$brand-backdrop-gray: rgba(245, 246, 250, 1);
$red: rgba(255, 103, 116, 1);
$backdrop-orange: rgba(243, 232, 201, 1);
$white: #fff;
$dark: rgba(20, 23, 55, 1);

$border-radius: 10px;